@charset "utf-8";
/* CSS Document */
.space10 {
	width: 100%;
	height: 10px;
	clear: both;
}
.space15 {
	width: 100%;
	height: 15px;
	clear: both;
}
.space20 {
	width: 100%;
	height: 20px;
	clear: both;
}
.space25 {
	width: 100%;
	height: 25px;
	clear: both;
}
.space30 {
	width: 100%;
	height: 30px;
	clear: both;
}
.space35 {
	width: 100%;
	height: 35px;
	clear: both;
}
.space40 {
	width: 100%;
	height: 40px;
	clear: both;
}
.space45 {
	width: 100%;
	height: 45px;
	clear: both;
}
.space50 {
	width: 100%;
	height: 50px;
	clear: both;
}
.wrapper {
	padding: 50px 0 20px;
}
.menu-left {
	width: 200px;
	height: calc(100vh - 56px);
}
